// ================================================
// FOOTER
// ================================================

@use '../abstracts' as *;

// ------------------------------------------------
// Footer base
// ------------------------------------------------
footer {
  border-top: 3px solid $chirho-primary;
}

// ------------------------------------------------
// Logo footer
// ------------------------------------------------
.logo-footer {
  @include object-contain($logo-footer-size);
}

// ------------------------------------------------
// Responsive - Footer
// ------------------------------------------------
@include respond-to('md') {
  footer .row {
    text-align: center;
  }
}
