// ================================================
// ICONOS
// ================================================

@use '../abstracts' as *;

// ------------------------------------------------
// Icon Circle (iconos pequenos en circulos)
// ------------------------------------------------
.icon-circle {
  @extend %flex-center;  // Usa @extend para centrado
  @include icon-size($icon-circle-size);
  border-radius: 50%;
  font-size: 1.25rem;
}

// ------------------------------------------------
// Icon Box (iconos grandes)
// ------------------------------------------------
.icon-box {
  @extend %flex-center;  // Usa @extend para centrado
  @include icon-size($icon-box-size);
}

// ------------------------------------------------
// Social Icons
// Usando @extend para estilos compartidos
// ------------------------------------------------
.social-icon {
  @extend %object-contain;  // Usa @extend para object-fit
  @extend %transition-base;  // Usa @extend para transicion
  @include icon-size($social-icon-size);
  filter: brightness(0) invert(1);
}

.social-link {
  &:hover .social-icon {
    transform: scale(1.1);
    opacity: 0.8;
  }
}

// ------------------------------------------------
// Responsive - Icons
// ------------------------------------------------
@include respond-to('md') {
  .icon-box {
    @include icon-size($icon-box-size-sm);
  }

  .social-icon {
    @include icon-size($social-icon-size-sm);
  }
}

@include respond-to('sm') {
  .icon-circle {
    @include icon-circle($icon-circle-size-sm, 1rem);
  }
}
